body
{
    background-image: linear-gradient(to top right,#fff,rgb(210, 207, 207),rgb(142, 142, 142),rgb(79, 78, 78),rgb(142, 142, 142),rgb(210, 207, 207),#fff);
}
/* calc body */
.container
{
    height: 445px;
    width: 300px;
    margin-top: 50px;
    background-color: rgba(42, 42, 42, 0.83);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(39, 37, 37, 0.648);
}
.row
{
    height: 75px;
    width: 300px;
}
.col
{
    height: 75px;
    width: 75px;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: large;
    font-weight: 900;
}
/* Text box size */
#display
{
    height: 60px;
    width: 285px;
    position: relative;
    left: -4px;
    top: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.348);
    background-color: #fff;
}
/* calc buttons */
.btn
{
    height: 60px;
    width: 62px;
    position: relative;
    left: -5px;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.265);
}
/* equal to btn */
.btn-success
{
    box-shadow: inset 0px 0px 7px rgba(255, 255, 255, 0.158);
    background-color: #1eb870;
}
